$bgColor: #F2F2F2;

.card {
  display: flex;
  flex-direction: column;
  width: 324px;
  margin: 0 auto;
  padding: 28px 20px 24px;
  box-sizing: border-box;
  background-color: $bgColor;
  border-radius: 5px;

  &__title {
    margin: 0 0 10px 0;
    font-size: 20px;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__validation {
    position: absolute;
    left: -12px;
    margin-top: 25px;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    width: 284px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    z-index: 10;

    &::before {
      position: absolute;
      top: -10px;
      left: 10px;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border: 10px solid #f44336;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-width: 0;
    }
  }

  &__submit {
    width: 124px;
    align-self: flex-end;
  }
}
