<div class='card'>
  <h2 class='card__title'>Create Card</h2>
  <form class='form' [formGroup]='formCard'>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input class='form__field' matInput type='text' formControlName='title'>
      <div class='form__validation' *ngIf='title?.invalid && (title?.dirty || title?.touched)'>
        "The login email is invalid"
      </div>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input class='form__field' matInput type='text' formControlName='description'>
      <div class='form__validation' *ngIf='description?.invalid && (description?.dirty || description?.touched)'>
        <span>The description is too long</span>
      </div>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Image</mat-label>
      <input class='form__field' matInput type='text' formControlName='img'>
      <div class='form__validation' *ngIf='img?.invalid && (img?.dirty || img?.touched)'>
        {{img?.errors?.["invalidLink"]}}
      </div>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Video</mat-label>
      <input class='form__field' matInput type='text' formControlName='video'>
      <div class='form__validation' *ngIf='video?.invalid && (video?.dirty || video?.touched)'>
        {{video?.errors?.["invalidLink"]}}
      </div>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input class='form__field' matInput type='date' formControlName='date'>
      <div class='form__validation' *ngIf='date?.invalid && (date?.dirty || date?.touched)'>
        {{date?.errors?.["invalidDate"]}}
      </div>
    </mat-form-field>
    <button class='form__submit' mat-raised-button color='primary' type='button' (click)='createCard()'>Create Card
    </button>
  </form>
</div>
