.expansion-panel {
  background-color: #E5E5E5;
}

.container {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}
