<mat-toolbar class='header'>
  <div class='container'>
    <div class='logo' routerLink=''>
      <mat-icon class='logo__icon'>play_arrow</mat-icon>
    </div>
    <div class='search'>
      <mat-form-field class='search__field'>
        <mat-label class='search__field-label'>What are you want to find out?</mat-label>
        <input matInput type='text' (input)="setSearchTerm($event)">
      </mat-form-field>
    </div>
    <button mat-raised-button color='primary' class='filter__button' (click)='toggleFilterState()'>
      <mat-icon class='filter__button-icon'>tune</mat-icon>
    </button>
    <div class='login'>
      <span>{{ userName }}</span>
      <div class='login__avatar' *ngIf='(getAuth() | async) === false'>
        <mat-icon class='login__icon'>account_circle</mat-icon>
      </div>
      <div class='logout__button' (click)='logout()' *ngIf='getAuth() | async'>
        <mat-icon class='login__icon'>exit_to_app</mat-icon>
      </div>
      <div class='admin' routerLink='/admin'>
        <mat-icon class='login__icon'>build</mat-icon>
      </div>
    </div>
  </div>
</mat-toolbar>
