<div class='login'>
  <h2 class='login__title'>Login</h2>
  <form class='form'>
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input class='form__login' matInput type='text' name='login-field'>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input class='form__password' matInput type='password' name='password-field'>
    </mat-form-field>
    <button class='form__submit' mat-raised-button color='primary' type='button' (click)='login()'>Login
    </button>
  </form>
</div>
