$bgColor: #E5E5E5;

.container {
  display: flex;
  overflow: hidden;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.button__back {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 32px;
  height: 32px;
  color: white;
  font-size: 16px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.mat-card {
  width: 100%;
  padding: 0;
  display: flex;
  border-top-left-radius: 0;

  &-image {
    margin: 0;
    width: 62%;
  }

  &-header {
    display: flex;

    &-text {
      margin: 0;
    }
  }

  &-subtitle {
    text-align: right;
  }

  &-content {
    display: flex;
    flex-direction: column;
  }
}

.info {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid transparent;
  border-bottom-right-radius: 5px;
}

.description {
  align-self: center;
  justify-self: flex-end;
  margin-top: auto;
  margin-bottom: 0;
  padding: 0 0 20px 0;
  display: flex;
  gap: 17px;
  list-style: none;

  &__item {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 20px;
    line-height: 20px;
    color: black;
  }

  &__icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: black;
  }
}

.dislike {
  position: relative;

  &::before {
    position: absolute;
    top: 3px;
    left: 2px;
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background-color: $bgColor;
    border-left: 1px solid black;
    transform-origin: 0 0;
    transform: rotate(-45deg);
  }
}
